@CHARSET "UTF-8";

#servicos {
	padding: 5px;
	font-family: Arial,sans;
}

.titulo1-servicos {
	color:#34495e;
	padding-left: 40px;
}

.titulo2-servicos {
	font-weight:bold;
	height:35px;
	line-height: 35px;
	padding-left: 50px;
	color: #ffffff;
	background-color: #507293;
	border-radius:10px;
}

.texto-servicos {
	color: #23313f;
	padding-left: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: justify;
}

.lista-servicos {
	color: #23313f;
	margin-left: 170px;
	float: left;
	display: block;
}

.bloco-conteudo-servicos {
	padding: 15px 10px 0 0;
	height:175px;
	margin-bottom: 5px;
	background-color: #ecf0f1;
	border-radius:10px;
}
#servicos span{
    width:0;
    height:0;
    border:25px solid transparent;
    display:block;
}
.tol span.balao{
	margin-left: 60px;
    border-bottom-color:#ccc; 
}